<div class="page-content">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mdl-textfield__input" %>
      <%= f.label :email, class: "mdl-textfield__label" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.password_field :password, autocomplete: "current-password", class: "mdl-textfield__input" %>
      <%= f.label :password, class: "mdl-textfield__label" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <%= f.label :remember_me, "", class: "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" do %>
        <%= f.check_box :remember_me, class: "mdl-checkbox__input" %>
        <span class="mdl-checkbox__label">ログイン状態を維持</span>
      <% end %>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>