<div class="page-content">
  <h2>新着一覧</h2>

  <div class="mdl-grid"><div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">記事タイトル</th>
          <th class="mdl-data-table__cell--non-numeric">著者</th>
          <th class="mdl-data-table__cell--non-numeric">作成日</th>
          <th class="mdl-data-table__cell--non-numeric">更新日</th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= link_to article.title, article_path(article) %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= link_to article.user.name, user_path(article.user)  %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= article.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= article.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div></div>
  <%= paginate @articles, class: "paginate" %>
</div>