<div class="page-content">
  <h2 class="display-2">マイページ</h2>
  <%= form_with(model: current_user, local: true) do |form| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "つのエラー") %>により、この記事を保存できませんでした:</h2>

      <ul>
      <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :name, class: "mdl-textfield__input" %>
    <%= form.label :name, "ユーザー名", class: "mdl-textfield__label" %>
  </div>

  <div class="actions">
    <%= form.submit "変更", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>
</div>